.validation-message{
    color: red;
}

.backimg{
    background-image: url("/assets/homeimg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fullbackimg{
    background-image: url("/assets/home-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: inline-block;
    vertical-align: middle;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }