<div class="pl-16 pt-2 ml-52 fixed w-10/12">
    <div class="p-8 bg-gradient-to-r bg-white border-b-4 border-r-4 border-l-4 border-l-sky-300 border-r-sky-300 border-b-sky-300 shadow-outline-blue mt-24 h-full"
         style="min-height: 40em;border-radius: 1.3em; position: relative;">
         
        <!-- Back Arrow Icon -->
        <div class="absolute top-0 left-0 p-4" (click)="goBack()">
            <i class="fas fa-arrow-left text-blue-500 text-lg"></i>
        </div>
        
        <!-- PDF Icon -->
        <div class="absolute top-0 right-0 p-4">
            <i class="fas fa-file-pdf text-blue-500 text-2xl"></i>
        </div>
        
        <!-- Project Material Name -->
        <div class="text-center text-xl font-bold mb-4">{{ materialEntries[0].projectMaterial.materialName }}</div>
        
        <!-- Current Stock -->
        <div class="text-center mb-4">Current Stock: {{ materialEntries[0].projectMaterial.currentStock }}</div>
        
        <!-- Section Card -->
        <div class="bg-white shadow p-4 rounded-lg mb-4">
            <div class="flex justify-between">
                <div class="text-blue-500">
                    <div>Received Stock</div>
                    <div class="text-lg font-semibold">{{ materialEntries[0].projectMaterial.receivedStock }}</div>
                </div>
                <div class="flex justify-center">
                    <button class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2">All Entries</button>
                    <button class="bg-green-500 text-white px-4 py-2 rounded-md mr-2">Received</button>
                    <button class="bg-red-500 text-white px-4 py-2 rounded-md">Used</button>
                </div>
                <div class="text-red-500">
                    <div>Total Used</div>
                    <div class="text-lg font-semibold">20</div> <!-- You need to replace this with the total used value -->
                </div>
            </div>
        </div>
        
      
        
        <!-- Material Entry Listing -->
        <div  style="max-height: em;"> <!-- Adjust max height as needed -->
            <div *ngFor="let entry of materialEntries" class="bg-blue-100 shadow p-4 rounded-lg mb-2">
                <!-- Entry date -->
                <div class="text-gray-500 mb-1">{{ entry.entryTime | date: 'medium' }}</div>
                <!-- Party member -->
                <div class="mb-1">Party: {{ entry.projectMaterial.partyMember }}</div>
                <!-- Entry person -->
                <div class="mb-1">EntryPerson: {{ entry.entryPerson }}</div>
                <!-- Quantity and sign -->
                <div class="flex justify-end items-center">
                    <!-- Plus or minus sign based on material type -->
                    <div>{{ entry.materialType === 'RECEIVED' ? '+' : '-' }}</div>
                    <!-- Quantity -->
                    <div class="ml-2">{{ entry.quantity }}</div>
                </div>
            </div>
        </div>
        
        
        
        
    </div>
</div>
