<div class="pl-16 pt-2 ml-52 fixed w-10/12">
    <div class="p-8 bg-gradient-to-r bg-white border-b-4 border-r-4 border-l-4 border-l-sky-300 border-r-sky-300 border-b-sky-300 shadow mt-24 h-[79vh]">
      <a [routerLink]="['/company/create-party',companyId]" class="inline-flex font-medium items-center text-blue-600 hover:underline">
        Create New Party
      </a>
      <table class="mt-4 w-full border-collapse border border-gray-200">
        <thead>
          <tr>
            <th class="px-4 py-2 bg-gray-100 border border-gray-200">User</th>
            <th class="px-4 py-2 bg-gray-100 border border-gray-200">Party Type</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let member of partyMembers">
            <tr>
              <td class="px-4 py-2 border border-gray-200">
                <a [routerLink]="['/company/user-profile', member.id]">
                  {{ member.name }} 
                </a>
            </td>
              <td class="px-4 py-2 border border-gray-200">{{ member.partyType }}</td>
              
            </tr>
          </ng-container>
        </tbody>
      </table>
      
      
    </div>
  </div>
  