img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .edit-btn {
    position: absolute;
    border-radius: 50%;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(36, 35, 35, 0.7);
    color: white;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .edit-btn:hover {
    opacity: 1;
  }
  
  input[type="file"] {
    display: none;
  }