<div class="flex justify-center">
  <div class="w-full max-w-md rounded-lg border bg-white p-6 shadow-lg">
      <div class="flex flex-col items-center mb-6">
          <div class="relative w-36 h-36 mb-4">
              <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80" alt="Profile Picture" class="w-full h-full rounded-full object-cover">
              <label for="file-upload" class="absolute bottom-0 right-0">
                  <button *ngIf="changeProfileBtn" class="bg-blue-500 text-white rounded-full p-2" (click)="changeProfilePicClicked()">
                      Edit
                  </button>
              </label>
          </div>
          <form [formGroup]="uploadProfilePic" (ngSubmit)="submitProPic()" enctype="multipart/form-data" class="w-full">
              <input id="file-upload" type="file" (change)="handleFileChange($event)" class="hidden">
              <button type="submit" *ngIf="formField" class="w-full py-2 bg-yellow-400 hover:bg-yellow-500 text-black rounded text-sm sm:text-base transition duration-150 ease-in-out">
                  Submit
              </button>
          </form>
      </div>
      <h1 class="text-center text-xl font-bold text-gray-900 mb-2">Michael Simbal</h1>
      <h3 class="text-center text-lg text-gray-600 mb-4">{{email}}</h3>
      <p class="text-center text-sm text-gray-500 mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, placeat!</p>
      <ul class="bg-gray-100 rounded shadow-sm divide-y text-gray-600">
          <li class="flex justify-between items-center py-3 text-sm">
              <span>Status</span>
              <span class="bg-green-200 text-green-700 rounded-full py-1 px-2 text-xs font-medium">Open for side gigs</span>
          </li>
          <li class="flex justify-between items-center py-3 text-sm">
              <span>Joined On</span>
              <span>Apr 08, 2022</span>
          </li>
      </ul>
  </div>
</div>
