<body>
    <div class="box">
        <form action="">
            <h2>Sign In</h2>
            <div class="inputBox">
                <input type="text" required>
                <span>Enter email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required>
                <span>Enter password</span>
                <i></i>
            </div>
            <input type="submit" value="LOGIN">
            <div class="links">
                <a href="#">Forget Password</a>
                <a href="#">Sign Up</a>
            </div>
        </form>
    </div>
</body>
