


<div class="pl-16 pt-2 ml-52 fixed w-10/12">
    <div class="p-8 bg-gradient-to-r bg-white border-b-4 border-r-4 border-l-4 border-l-sky-300 border-r-sky-300 border-b-sky-300 shadow mt-24 h-[79vh]">
        <!-- <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="flex justify-center items-center">
                <p class="font-bold text-gray-700 text-xl">1</p>
                <p class="text-gray-400">Team Members</p>
            </div>
            <div class="flex justify-center items-center">
                <p class="font-bold text-gray-700 text-xl">10</p>
                <p class="text-gray-400">Projects</p>
            </div>
            <div class="flex justify-center items-center">
                <p class="font-bold text-gray-700 text-xl">89</p>
                <p class="text-gray-400">Comments</p>
            </div>
        </div> -->

        <div class="mt-20 text-center h-auto border-b border-cyan-700 pb-12">
          


            <div class="flex justify-between">


                <div
                    class="w-full h-[50vh] p-6 bg-black border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
                   
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Need a help
                            in Claim?</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">You didnt have created
                        your company yet,Create your company to explore.</p>
                    <a routerLink="/company/createCompany" class="inline-flex font-medium items-center text-blue-600 hover:underline">
                        Create your company
                        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

