

<div class="pl-16 pt-2 ml-52 fixed w-10/12">
    <div class="p-8 bg-gradient-to-r
     bg-white border-b-4 border-r-4 border-l-4 border-l-sky-300 border-r-sky-300 
     border-b-sky-300 shadow mt-24 h-[79vh]">
      <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0">
          <div>
            <p class="font-bold text-gray-700 text-xl">1</p>
            <p class="text-gray-400">Team Members</p>
          </div>
          <div>
               <p class="font-bold text-gray-700 text-xl">10</p>
            <p class="text-gray-400">Projects</p>
          </div>
              <div>
               <p class="font-bold text-gray-700 text-xl">89</p>
            <p class="text-gray-400">Comments</p>
          </div>
        </div>
        <div class="relative">
          
        </div>
    
        <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center">
    <button
      class="text-black py-2 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
      >
      Edit
    </button>
        <button
      class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
    >
      Message
    </button>
        </div>
      </div>
    
      <div class="mt-20 text-center border-b pb-12">
        <h1 class="text-4xl font-medium text-cyan-500" ></h1>
        <p class="font-light text-white mt-3" ></p>
    
        <p class="mt-8 text-gray-500"></p>
       
      </div>
    
      
    
    </div>
    </div>