<div id="viewport" class="flex">
    <!-- Sidebar -->
    <div id="sidebar" class="bg-gray-800 text-white h-screen w-64 flex-shrink-0">
      <header class="p-4">
        <a href="#" class="text-white text-xl font-bold">BUILDLIVE</a>
      </header>
      <ul class="nav">
        <li>
          <a href="#" class="block p-4 hover:bg-gray-700">
            <i class="zmdi zmdi-view-dashboard mr-2"></i> Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="block p-4 hover:bg-gray-700">
            <i class="zmdi zmdi-link mr-2"></i> Attendence
          </a>
        </li>
        <li>
          <a href="#" class="block p-4 hover:bg-gray-700">
            <i class="zmdi zmdi-widgets mr-2"></i> Material
          </a>
        </li>
        <li>
          <a href="#" class="block p-4 hover:bg-gray-700">
            <i class="zmdi zmdi-calendar mr-2"></i> FINANCE
          </a>
        </li>
        <li>
          <a href="#" class="block p-4 hover:bg-gray-700">
            <i class="zmdi zmdi-info-outline mr-2"></i> clients
          </a>
        </li>
        <li>
          <a href="#" class="block p-4 hover:bg-gray-700">
            <i class="zmdi zmdi-settings mr-2"></i> cost code
          </a>
        </li>
        <li>
          <a href="#" class="block p-4 hover:bg-gray-700">
            <i class="zmdi zmdi-comment-more mr-2"></i> REPORTS
          </a>
        </li>
      </ul>
    </div>
    <!-- Content -->
    <div id="content" class="flex-1">
      <!-- <nav class="bg-gray-200 p-4">
        <ul class="flex justify-end">
          <li class="mr-4">
            <a href="#">
              <i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <li><a href="#">Test User</a></li>
        </ul>
      </nav> -->
      
    </div>
  </div>
  