<!-- <div class="h-screen flex overflow-hidden"> -->
  <div class=" h-screen flex flex-col w-64 bg-gray-800 text-white shadow-md">
    <div class="flex items-center justify-center p-4">
      <a href="#" class="text-xl font-bold text-gray-300">BUILDLIVE</a>
    </div>
    <nav class="mt-4 flex-1 flex flex-col space-y-2">
      <a href="#" class="flex items-center justify-between py-2 px-4 bg-gray-800 text-white rounded hover:bg-gray-700">
        <span class="flex items-center">
          <i class="mr-2 fas fa-home"></i>
          <span>Home</span>
        </span>
        <span class="text-gray-400">
          <i class="fas fa-chevron-right"></i>
        </span>
      </a>
      <a href="#" class="flex items-center justify-between py-2 px-4 bg-gray-800 text-white rounded hover:bg-gray-700">
        <span class="flex items-center">
          <i class="mr-2 fas fa-users"></i>
          <span>project</span>
        </span>
        <span class="text-gray-400">
          <i class="fas fa-chevron-right"></i>
        </span>
      </a>
      <a href="#" class="flex items-center justify-between py-2 px-4 bg-gray-800 text-white rounded hover:bg-gray-700">
        <span class="flex items-center">
          <i class="mr-2 fas fa-cog"></i>
          <span>Settings</span>
        </span>
        <span class="text-gray-400">
          <i class="fas fa-chevron-right"></i>
        </span>
      </a>
    </nav>
  </div>

  <div class="flex-1 p-6 bg-gray-100 overflow-y-auto">
    </div>
<!-- </div> -->

<!-- <div class="bg-gray-800 text-white h-screen fixed w-64">
  <div class="p-4">
    <div class="text-2xl font-bold">BUILDLIVE</div>
  </div>
  <div class="space-y-4 p-4">
    <div class="text-gray-300 hover:text-white">Home</div>
    <div class="text-gray-300 hover:text-white">Project</div>
    <div class="text-gray-300 hover:text-white">Porties</div>
    <div class="text-gray-300 hover:text-white">Quotations</div>
    <div class="text-gray-300 hover:text-white">Company Settige</div>
    <div class="text-gray-300 hover:text-white">Profie</div>
    <div class="text-gray-300 hover:text-white">LOGOUT</div>
  </div>
</div> -->
