


   <div class="pl-16 pt-2 ml-52 fixed w-10/12">
    <div class="p-8 bg-gradient-to-r bg-white border-b-4 border-r-4 border-l-4 border-l-sky-300 border-r-sky-300 border-b-sky-300 shadow-outline-blue mt-24 h-full"
         style="min-height: 40em;border-radius: 1.3em; position: relative;">
         
        
        
        
            <div class="bg-white shadow rounded-lg p-4">
              <div class="flex items-center justify-between mb-4">
                <button class="text-blue-500">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                  </svg>
                </button>
                <div>
                  <h1 class="text-lg font-semibold">Hhh</h1>
                  <p class="text-sm text-zinc-500">No Dates Added</p>
                </div>
                <button class="text-blue-500">Mark As Complete</button>
              </div>
          
              <div class="mb-4">
                <h2 class="font-semibold">Assign to</h2>
                <p>yuva</p>
              </div>
          
              <div class="mb-4">
                <h2 class="font-semibold">Progress (Ongoing)</h2>
                <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                    <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 45%"> 45%</div>
                  </div>
                
                <div class="flex items-center justify-between">
                  
  
                  <span class="text-sm text-zinc-500">Bro Sreekanth. May 02, 24</span>
                  <span class="text-sm text-zinc-500">2 %</span>
                </div>
              </div>
          
              <button class="w-full py-2 bg-purple-600 text-white rounded-lg mb-4">+ Add Progress</button>
          
              <div class="flex items-center bg-zinc-200 p-2 rounded-lg">
                <input type="text" placeholder="Enter message" class="flex-1 bg-transparent outline-none" />
                <button class="text-zinc-500 ml-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                  </svg>
                </button>
              </div>
            </div>
          
          
        
        
    </div>
</div>

