<!-- <div class="pl-16 pt-2 ml-52 fixed w-10/12">
    <div class="p-8 bg-gradient-to-r bg-white border-b-4 border-r-4 border-l-4 border-l-sky-300 border-r-sky-300 border-b-sky-300 shadow mt-24 h-full"
    style="min-height: 40em;border-radius: 1.3em;"
    >
        
    <div class="chat_window">
        <div class="top_menu">
          <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
          </div>
          <div class="title">
            <img src="../../../assets/whatsapp-icon.png" width="25px" height="25px">
            WhatsApp
          </div>
        </div>
        <ul class="messages">
          <li class="message right" *ngFor="let item of messageList"
          [ngClass]="{'left': item.message_side === 'receiver', 'right': item.message_side === 'sender'}"
          >
            <div class="avatar"></div>
            <div class="text_wrapper">
              <div class="text">{{item.message}}</div>
            </div>
          </li>
        </ul>
        <div class="bottom_wrapper clearfix">
          <div class="message_input_wrapper">
            <input class="message_input" placeholder="Message..." [(ngModel)]="messageInput" 
            (keyup.enter)="sendMessage()"/>
          </div>
          <div class="send_message" (click)="sendMessage()">
            <div class="icon"></div>
            <div class="text">Send</div>
          </div>
        </div>
      </div>
          
    </div>
</div>














 -->
