<p>company-details works!</p>


<div class="container">
    <div class="card-holder">
      <a class="card" (click)="navigateToParty()">
        <div class="logo" style="
              background: linear-gradient(135deg, #52c234 0%, #061700 100%);
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/minecraft.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h3>Party</h3>
            <p>Total</p>
          </div>
          <div class="content content-2">
            <h3>number</h3>
            <p>23</p>
          </div>
        </div>
      </a>
      <a href="#" class="card">
        <div class="logo" style="
              background: linear-gradient(135deg, #f7ff00 0%, #db36a4 100%);
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/nginxpm.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h3>Material</h3>
            <p>Description of Material</p>
          </div>
          <div class="content content-2">
            <h3>Sub Heading</h3>
            <p>Test Here</p>
          </div>
        </div>
      </a>
      <a href="#" class="card">
        <div class="logo" style="
              background: linear-gradient(135deg, #8f94fb 0%, #4e54c8 100%);
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/portainer.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h3>Cost Code</h3>
            <p>Description of Example Card</p>
          </div>
          <div class="content content-2">
            <h3>Sub Heading</h3>
            <p>Test Here</p>
          </div>
        </div>
      </a>
      <a href="#" class="card">
        <div class="logo" style="
              background: linear-gradient(135deg, #f5af19 0%, #f12711 100%);
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/proxmox.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h3>WorkForce</h3>
            <p>Description of Example Card</p>
          </div>
          <div class="content content-2">
            <h3>Sub Heading</h3>
            <p>Test Here</p>
          </div>
        </div>
      </a>
      


      <a class="card" (click)="navigateToEmployees()">
        <div class="logo" style="
              background: linear-gradient(135deg, #52c234 0%, #061700 100%);
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/minecraft.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h3>Party</h3>
            <p>Total</p>
          </div>
          <div class="content content-2">
            <h3>number</h3>
            <p>23</p>
          </div>
        </div>
      </a>
    </div>
  </div>

