<div class="container">
  <div class="card-holder">
      <a class="card" (click)="navigateToParty()">
          <div class="logo" style="background: linear-gradient(135deg, #52c234 0%, #061700 100%);">
              <i class="fas fa-hard-hat"></i> <!-- Labor icon -->
          </div>
          <div class="content-container">
              <div class="content content-1">
                  <h3>Party</h3>
              </div>
              <div class="content content-2">
                  <h3>Company Parties</h3>
              </div>
          </div>
      </a>
      <a href="#" class="card">
          <div class="logo" style="background: linear-gradient(135deg, #f7ff00 0%, #db36a4 100%);">
              <i class="fas fa-toolbox"></i> <!-- Materials icon -->
          </div>
          <div class="content-container">
              <div class="content content-1">
                  <h3>Material</h3>
              </div>
              <div class="content content-2">
                  <h3>Material List</h3>
              </div>
          </div>
      </a>
      <a class="card" (click)="navigateToWorkForce()">
          <div class="logo" style="background: linear-gradient(135deg, #f5af19 0%, #f12711 100%);">
              <i class="fas fa-users"></i> <!-- Users icon -->
          </div>
          <div class="content-container">
              <div class="content content-1">
                  <h3>WorkForce</h3>
              </div>
              <div class="content content-2">
                  <h3>Company WorkForce</h3>
              </div>
          </div>
      </a>
      <a class="card" (click)="navigateToProjects()">
          <div class="logo" style="background: linear-gradient(135deg, #f5af19 0%, #f12711 100%);">
              <i class="fas fa-project-diagram"></i> <!-- Projects icon -->
          </div>
          <div class="content-container">
              <div class="content content-1">
                  <h3>PROJECTS</h3>
              </div>
              <div class="content content-2">
                  <h3>Company projects</h3>
              </div>
          </div>
      </a>
  </div>
</div>
