
  


<!-- <div class="container ">
  <h1>
    Leading Construction <br>Management Software</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem distinctio odit <br> 
      modi magnam eum incidunt enim quibusdam inventore <br>
       commodi architecto, iure ipsam, omnis at delectus, mollitia quis dolore nam! Corrupti.</p>
      <button class="btn">Getting Started</button> 
  
</div>
-->

<div class="h-full flex bg-blue-600 bg-fixed bg-no-repeat bg-cover bg-center relative ">
  <app-navbar class=" bg-transparent p-2 w-full absolute " ></app-navbar >
  <img [src]="homeImage" class="w-full h-[30rem] object-fill" alt="">

  <div class="absolute top-1/2 left-0 transform -translate-y-1/2 text-white px-8">
    <h1 class="text-4xl leading-tight mb-4 font-bold">Leading Construction <br>Management Software</h1>
    <p class="text-lg leading-relaxed mb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem distinctio odit <br> modi magnam eum incidunt enim quibusdam inventore <br> commodi architecto, iure ipsam, omnis at delectus, mollitia quis dolore nam! Corrupti.</p>
    <button class="btn bg-white text-blue-600 px-4 py-2 rounded-full">Getting Started</button>
  </div>
</div> 

<!-- <div class="relative">
  <div class="h-full flex bg-blue-600 bg-fixed bg-no-repeat bg-cover bg-center">
    <img [src]="homeImage" class="w-full h-[30rem] object-fill" alt="">
  </div>
  <div class="absolute top-1/2 left-0 transform -translate-y-1/2 text-white px-8">
    <h1 class="text-4xl leading-tight mb-4">Leading Construction <br>Management Software</h1>
    <p class="text-lg leading-relaxed mb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem distinctio odit <br> modi magnam eum incidunt enim quibusdam inventore <br> commodi architecto, iure ipsam, omnis at delectus, mollitia quis dolore nam! Corrupti.</p>
    <button class="btn bg-white text-blue-600 px-4 py-2 rounded-full">Getting Started</button>
  </div>
</div> -->



<!-- Second Section -->
<div class="bg-blue-300 h-screen flex justify-center items-center relative">
  
  <div class="absolute top-0 left-0 right-1/2 bottom-1/2 lg:w-1/2 bg-gradient-to-br from-black to-gray-900 flex justify-center items-center text-gray-600 text-4xl">
    Inventory Management
  </div>
  
  <div class="absolute top-0 right-0 left-1/2 bottom-1/2 lg:w-1/2 bg-gradient-to-br from-gray-900 to-black flex justify-center items-center text-gray-600 text-4xl ">
    Labour
  </div>
  
  <div class="absolute bottom-0 left-0 right-1/2 top-1/2 lg:w-1/2 bg-gradient-to-br from-black to-gray-900 flex justify-center items-center text-gray-600 text-4xl ">
    Finance
  </div>
  
  <div class="absolute bottom-0 right-0 left-1/2 top-1/2 lg:w-1/2 bg-gradient-to-br from-black to-gray-900 flex justify-center items-center text-gray-600 text-4xl">
    Construction Management
  </div>

  <div class="absolute inset-0 flex justify-center items-center">
    <p class="text-white text-6xl font-bold">BUILDLIVE</p>
  </div>
</div>


  
  
  
  
  
  <div class="p-10 ">
    <h2 class="font-bold text-4xl">Sample Section</h2>
    
  </div>
  
  <div class="bg-sea2 min-h-screen bg-center bg-no-repeat bg-cover bg-fixed"></div>
  
  <div class="bg-sea3 min-h-screen bg-fixed bg-no-repeat bg-cover"></div>