



<div class="pl-16 pt-2 ml-52 fixed w-10/12">
    <div class="p-8 bg-gradient-to-r bg-white border-b-4 border-r-4 border-l-4 border-l-sky-300 border-r-sky-300 border-b-sky-300 shadow-outline-blue mt-24 h-full"
         style="min-height: 40em;border-radius: 1.3em; position: relative;">
         
        
         <div class=" bg-zinc-100 p-4">
            <div class="bg-white shadow rounded-lg mb-4 p-4">
                <div class="flex items-center space-x-2 mb-4">
                    <button class="p-2 rounded-full bg-zinc-200 text-zinc-600">
                        <span>&larr;</span>
                    </button>
                    <h1 class="text-lg font-semibold">Add Worker</h1>
                </div>
                <div class="flex items-center bg-zinc-200 p-2 rounded-lg mb-4">
                    <button class="p-2 bg-blue-500 text-white rounded-full mr-2">
                        <span>+</span>
                    </button>
                    <p class="flex-1">Alok</p>
                </div>
                <div>
                    <h2 class="font-semibold mb-2">Workforce (2)</h2>
                    <div class="bg-white shadow rounded-lg p-4 mb-4">
                        <div class="flex justify-between items-center mb-2">
                            <h3 class="text-lg">Mason</h3>
                            <button class="text-zinc-600">...</button>
                        </div>
                        <p>₹ 200 per day</p>
                        <p class="text-zinc-500">8.0 Shift</p>
                    </div>
                    
                    <button class="bg-blue-500 text-white p-2 rounded-lg w-full mb-4">
                        + Add Workforce
                    </button>
                </div>
            </div>
           
        </div>
        
        
        
    </div>
</div>
