:root {
    --white: rgba(220, 220, 220, 1);
    --grey: rgba(20, 20, 25, 1);
    --lightgrey: rgba(25, 25, 30, 1);
    --orange: rgba(230, 90, 10, 1);
    --stars: rgba(255, 255, 255, 1);
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: var(--white);
    background-color: rgba(255, 0, 0, 0);
    text-align: center;
  }
  
  body {
    background-color: var(--grey);
    width: 100%;
    min-height: 100vh;
  }
  
  .container {
    min-height: calc(100vh - 100px);
    height: auto;
    width: calc(100% - 100px);
    display: flex;
    justify-content: center; /* Centered horizontally */
    align-items: center; /* Centered vertically */
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px;
  }
  
  .card-holder {
    max-width: 90%;
    width: 1300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: end; /* Centered horizontally */
    align-content: center; /* Centered vertically */
    gap: 40px 90px; /* More gap horizontally, same gap vertically */
    margin-bottom: 64px;
}
  
  .card-holder > .card {
    width: 400px;
    height: 70px;
    background-color: var(--lightgrey);
    border-radius: 35px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.35);
    display: flex;
    align-content: center; /* Centered vertically */
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all ease-in-out 0.5s;
  }
  
  .card-holder > .card:hover {
    transform: translateY(-10px);
    background-color: rgb(21, 160, 160); /* Add this line */
  }
  
  .card-holder > .card > .logo {
    display: flex;
    justify-content: center; /* Corrected to 'center' */
    align-items: center; /* Corrected to 'center' */
    height: 74px;
    width: 74px;
    transform: translateY(-2px) translateX(-2px);
    margin: 0px;
    border-radius: 50%;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.35);
  }
  
  .card-holder > .card > .logo > img {
    width: 55%;
    height: 55%;
  }
  
  .card-holder > .card > .content-container {
    height: 60px;
    width: 286px;
    margin: 5px;
    margin-left: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .card-holder > .card > .content-container > .content {
    height: 60px;
    display: flex; /* Flexbox */
    flex-direction: column; /* Elements stack vertically */
    justify-content: center; /* Centered vertically */
    align-items: flex-start; /* Aligned left horizontally */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all ease-in-out 0.5s;
    gap: 5px;
  }
  
  .card-holder > .card > .content-container > .content-1 {
    top: 0;
  }
  
  .card-holder > .card > .content-container > .content-2 {
    top: -60px; /* Adjusted to start offscreen */
  }
  
  .card-holder > .card:hover > .content-container > .content-1 {
    top: 60px; /* Adjusted to move downward */
  }
  
  .card-holder > .card:hover > .content-container > .content-2 {
    top: 0; /* Adjusted to move into view */
  }
  
  .card-holder > .card > .content-container > .content > h3 {
    font-size: 16px;
    transform: translateY(-2px);
  }
  
  .card-holder > .card > .content-container > .content > p {
    font-size: 14px;
  }